

.container {
    border: 1px solid #000;
    border-radius: 20px;

    padding: 20px 30px;
}

.container h1{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.row > * {
    padding: 5px 0;
}

.row :nth-child(2){
    font-weight: 600;
}

.imgContainer{
    height: 80px;
    width: 80px;

    /* border: 1px solid #000; */
    border-radius: 50%;

    overflow: hidden;

    background: #fff;
}

.rowProducto img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

    transform: scale(0.95);
}

.row span {
    font-weight: 700;
    font-size: 18px;

    color: #000;
}

.rowProducto {
    padding-bottom: 10px;
}


.rowTotal {
    border-top: 1px solid #000;

    padding-top: 10px;
}

.rowTotal span {
    font-size: 30px;
}

.pagoInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}