
.container h1{
    text-align: center;

    font-size: 2.3em;
    
    margin-bottom: 40px;
}

.compraContainer {
    display: flex;
    justify-content: space-between;
    align-items: top;

    gap: 100px;

    margin-top: 25px;

    padding: 0 20%;
}

.compraInfoContainer {
    flex: 1;
}

.detalleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.detalleRow_texto {
    font-weight: 600;
}

.detalleRow_value {
    font-weight: 700;
    font-size: 24px;
    color: #000;

    border: 1px solid #000;

    text-align: center;
}

.detalleRow .detalleRow_stock {
    background: #CCCCCC;

    padding: 7px 30px;
}

.detalleRow .detalleRow_precio {
    background: #CCCCCC;

    padding: 7px 30px;
    min-width: 35%;
}

.detalleRow .detalleRow_puntos {
    background: #fff;

    padding: 7px 30px;
    min-width: 35%;
}

/* form */
.formContainer {
    padding: 20px 20px 10px 20px;
    
    background: linear-gradient(#333333, #000);

    margin-bottom: 15px;

    color: #fff;

    border-radius: 20px;
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    gap: 20px;
}

.formRow label {
    font-weight: 600;
}

.formRow input{
    width: 40%;

    border: 1px solid #000;
    border-radius: 30px;

    padding: 3px 0 3px 8px;

    text-align: center;

    font-weight: 700;
    font-size: 24px;

    flex: 1;
}


/* .form_precio_container{
    display: contents;
    position: relative;
} */

/* .form_precio_sign{
    position: absolute;
    left: 10px;
    color: #000;
    font-weight: 700;
    font-size: 24px;
} */
/* .form_precio_container::before{
    content: "$";
    
    position: relative;
    left: 60px;
    
    color: #000;
    font-weight: 700;
    font-size: 24px;
} */
.label_precio::after{
    content: "$";
    
    color: #000;
    font-weight: 700;
    font-size: 24px;

    position: relative;
    left: 50px;
}
.formRowPrecio{
     gap: 13px;  /*20px - 7px del signo $*/
}

.form_precio {
    padding-left: 20px !important;
}


.totalRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #fff;

    padding-top: 15px;
}

.totalRow_title {
    font-weight: 600;
    font-size: 25px;
}

.totalRow_price {
    font-weight: 600;
    font-size: 35px;
}